body {
	margin: 0;
	font-family: Verdana;
	font-size: x-large;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 100%;
}
body,
html {
	height: 100%;
	background-color: #fff;
}
.word {
	text-align: center;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.next {
	right: 0;
}
.next,
.prev {
	text-align: center;
	background-color: red;
	position: absolute;
	width: 38px;
	height: 38px;
}
.prev {
	left: 0;
}
.plus {
	right: 0;
}
.minus,
.plus {
	text-align: center;
	background-color: red;
	position: absolute;
	width: 68px;
	height: 55px;
	top: 50%;
	-webkit-transform: translate(-50%, 90%);
	transform: translateY(90%);
}
.minus {
	vertical-align: middle;
	left: 0;
}
.reset {
	text-align: center;
	background-color: red;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 38px;
	height: 38px;
}
.highlightedText {
	background-color: #ff0;
	text-underline-position: below;
	text-decoration: underline;
}
